
.main-container
{
    display: grid;
    grid-template-columns: 402px 1203px ;
    grid-template-rows: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    height: auto;
    background: rgba(196, 198, 199, 0);
    border: none;
    width: 1605px;

}
.left-menu
{
    width: 400px;
    height: 880px;
    margin-right: 5px;
    background: rgb(86, 139, 122);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 5px 5px 5px 5px;
    

}
.content-right
{
    width: 1200px;
    height: 880px;
    background: rgb(86, 139, 122);
    border-radius: 5px 5px 5px 5px;
    border: none;
    padding-top: 20px;

}
.content-main
{

    height: 850px;
    margin-left: 10px;
    margin-right: 10px;
    background: whitesmoke; 
    border-radius: 5px 5px 5px; 


}

.content-header, .content-footer
{
    height: 60px;
    background: white;
    margin-left: 10px;
    margin-right: 10px;
}
.content-header
{

    border-radius: 5px 5px 0px 0px; 
}
.content-footer
{
    border-radius: 0px 0px 5px 5px; 
}
.content-main-right{
    height: 730px;
    max-height: 730px;
    margin-left: 10px;
    margin-right: 10px;
    background: whitesmoke; 
}
h3{
    margin-top: 20px;
    font-size: 50px;
    color: rgba(36, 97, 153, 0.753);
    font-weight: bolder;
    text-align: center;
}