<html><div class="main-container">
        <div class="left-menu">
            <div class="content-main left">
                <div>
                    <h3>Easy stock v1.0</h3>
                </div>
                <div>
                    <app-menu></app-menu>
                </div>
            </div>
        </div>
        <div class="content-right">  
            <div class="content-header_footer">
                <app-header></app-header>
            </div>
            <div class="content-main-right">
                <router-outlet></router-outlet>
            </div>
            <div class="content-header_footer">
                Footer
            </div>
        </div>
    </div>
</html>