<div class="my-container">
<div class="input-group flex-nowrap">
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
    <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-magnifying-glass"></i></span>
  </div>
  <div class="header-user">
    <a href="javascript:void();" [routerLink]="['/profil']">
    Bonjour Najib
  </a>
  </div>
  <div>
    <a href="javascript:void();" [routerLink]="['/profil']">
      <img src="favicon.ico" class="rounded-circle">
    </a>
    
  </div>

</div>


