<div class="item-container">
    <div class="titre">
        <H3>Profil</H3>
    </div>
</div>

<div class="my-container">

    <div class="left-content">

        <img src="assets/userimg.png" alt="" width="200PX" height="200px">

        <div class="item-left" >
            <h2>ACHCHAQ Najib</h2>
        </div>

        <div class="adr" >
           <div>2 rue de la mairie</div>
           <div>21000</div>
           <div> Dijon</div>
           <div> France</div>
        </div>

        <div class="item-left" >
            <button type="button" class="btn btn-success"> <i class="fa-solid fa-pencil"></i>&nbsp; Modifier le profil</button>
            <a href="javascript:void();" [routerLink]="['/changermotdepasse']"><button type="button" class="btn btn-warning"><i class="fa-solid fa-lock"></i>&nbsp; Changer mot de passe</button></a>
        </div>

    </div>

    <div class="right-content">

        <div class="item-right" >
            <div class="titre-info">Nom complet</div>
            <div>ACHCHAQ Najib</div>
        </div>

        <div class="item-right" >
            <div class="titre-info">Email </div>
            <div>najib.achchaq@gmail.com </div>
        </div>

        <div class="item-right" >
            <div class="titre-info">Téléphone</div>
            <div>07.68.20.53.68</div>
        </div>

        <div class="item-right" >
            <div class="titre-info">Adresse</div>
            <div>2 rue de la mairie 21130 Athée</div>
        </div>

        <div class="item-right" >
            <div class="titre-info">Entreprise</div>
            <div>FM Logistic</div>
        </div>


    </div>



</div>