<div class="item-container">
    <div class="titre">
        <H3>Profil</H3>
    </div>
</div>

<div class="my-container">

    <div class="left-content">

        <img src="assets/userimg.png" alt="" width="200PX" height="200px">

        <div class="item-left" >
            <h2>ACHCHAQ Najib</h2>
        </div>

        <div class="item-left" >
            2 rue de la mairie
        </div>

        <div class="item-left" >
            <button type="button" class="btn btn-success">Modifier</button>
            <button type="button" class="btn btn-warning">Changer mot de passe</button>
        </div>

    </div>

    <div class="right-content">

        <div class="item-right" >
            ACHCHAQ Najib
        </div>

        <div class="item-right" >
            najib.achchaq@gmail.com
        </div>

        <div class="item-right" >
            07.68.20.53.68
        </div>

        <div class="item-right" >
            2 rue de la mairie 21130 Athée
        </div>

        <div class="item-right" >
            Gabriel BOUDIER
        </div>


    </div>



</div>