
<div class="item-container">
    <div class="titre">
      <h3>Mouvement de stock</h3>
    </div>
    <div class="button">
      <app-button-action></app-button-action>
    </div>
  </div>
  
  <div class="accordion">
    <div *ngFor="let option of mvtstk; let i = index" [class.opened-accordion]="activeIndex === i">
      <div class="" (click)="toggleAccordion(i)">
        <app-detail-mvt-stk-article>{{ option.title }}</app-detail-mvt-stk-article>
      </div>
      <div class="accordion-content" [hidden]="activeIndex !== i">
        <app-detail-mvt-stk *ngFor="let detail of option.details">{{ detail }}</app-detail-mvt-stk>
      </div>
    </div>
  </div>

