.item-container
{
    display: grid;
    grid-template-columns: 1fr ;
    height: 60px;
    width: 1176px;
    background-color: rgb(130, 214, 172);

}
.titre
{
    
    text-align: left;
    padding-left: 16px;
    margin-top: 12px;

}

.my-container {
    display: grid;
    grid-template-columns: 420px 1fr 1fr ;
    grid-template-rows: 1fr  ;
    width: 1150px;
    height: 180px;
    margin-top: 8px;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 10px 10px 0px 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;

}

.h3 {
    text-align: left;
    margin-left: 40px;
    margin-top: 20px;
}

.info
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
 
}

.info1
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-top: 3px;
    text-align: left;
    margin-left: 30px;
 
}

.img
{
text-align: center;
margin-top: 6px;

}
img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid black;
}

input, select{
    width: 400px;
    margin-left: 30px;

}
.mb-3
{
    margin-top: 30px;
}

.button
{
    display: inline-block;
   text-align: right;
   margin-right: 58px;
   margin-top: 8px;
}
button
{
    margin-left: 40px;
    color: white;
    height: 40px;
}
.button :hover{
    color: white;
}

.form1
{
    display: grid;
    grid-template-columns: 350px 350px 340px 10px;
    width: 1150px;
    height: 50px;
    border: 1px solid rgb(161, 161, 161);
    margin-right: auto;
    margin-left: auto;
    margin-top: 4px;
    padding-top: 3px;


}
.light
{
    width: 350px;
    margin: 0px;
    margin-left: 16px;
}

.container-list
{
    height: 369px;
    margin-top: 3px;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 0px 0px 10px 10px;
    width: 1151px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1px;
}


.list
{
    
    height: 330px;
    max-height: 330px;
    width: 1148px;
    overflow-y: scroll; 

}
.resume-cmd
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 36px;
    width: 1149px;
    background: rgb(231, 231, 231);
    border-top: none;
    text-align: left;
    padding-left: 20px;
    font-weight: bolder;
    border-radius: 0px 0px 10px 10px;
    padding-top: 5px;


}

