<div class="item-container">
    <div class="titre">
        <H3>Nouvelle commande </H3>
</div>

<div class="my-container">
   <div class="info">

    <div class="mb-2 row">
        <input type="password" class="form-control" id="inputPassword" placeholder="Code commande">
    </div>

    <div class="mb-2 row">
        <input type="password" class="form-control" id="inputPassword" placeholder="Date commande">
    </div>

    <div class="mb-2 row">
      <select class="form-select" aria-label="Default select example">
          <option selected>Sélectionner un client</option>
          <option value="1">Gabriel Boudier</option>
          <option value="2">Fm Logistic</option>
          <option value="3">Ziegler</option>
          <option value="3">Regis Martelet</option>
      </select>
    </div>

   </div>

   <div class="info1">
    <div >
        <i class="fa-solid fa-circle-info"></i>
            Nom
    </div> 
    <div>
        <i class="fa-solid fa-circle-info"></i>
            Prénom
    </div>    
    <div>
        <i class="fa-solid fa-phone"></i>
            0380785487
    </div> 
    <div >
        <i class="fa-solid fa-battery-three-quarters"></i>
            Statut
    </div> 
</div>
 <div class="img">
    <div class="image">
        <img src="assets/userimg.png" alt="">
    </div>
 </div> 
 



</div>

<div class="form1">
   
        <div class="in">
          <input type="text" class="form-control light" placeholder="Code article">
        </div>
        <div class="in">
          <input type="text" class="form-control light" placeholder="Quantitée">
        </div>
      <div class="in">
        <input type="text" class="form-control light" placeholder="Prix unitaire">
      </div>
      <div class="in">
        <button type="button" class="btn btn-success"><i class="fa-solid fa-plus fa-2xl"></i></button>
      </div>

</div>
<div class="container-list">
    <div class="list">
        <app-detail-cmd></app-detail-cmd>
        <app-detail-cmd></app-detail-cmd>
        <app-detail-cmd></app-detail-cmd>
        <app-detail-cmd></app-detail-cmd>
        <app-detail-cmd></app-detail-cmd>
        <app-detail-cmd></app-detail-cmd>
    
    </div>
    <div class="resume-cmd"> 
        <div >
            Total commande
        </div>
    </div>
</div>


 <div class="button">
    <button type="button" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> &nbsp; Enregistrer</button>
    <button type="button" class="btn btn-warning"><i class="fa-solid fa-xmark fa-xl"></i>&nbsp;&nbsp;Annuler &nbsp;</button>
 </div>
   



