.item-container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60px;
    width: 1176px;
    background-color: rgb(219, 199, 154);

}
.titre
{
    
    text-align: left;
    padding-left: 16px;
    margin-top: 12px;

}



.h3 {
    text-align: left;
    margin-left: 40px;
    margin-top: 20px;
}

.info
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
 
}
.formulaire-newcategorie
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 90px 60px 60px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px 0px 10px 0px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 140px;
    height: 360px;
    width: 600px;

}
input, select{
    width: 500px;
    margin-left: 30px;

}
.mb-3
{
    margin-top: 30px;
}

.button
{
    display: inline-block;
   text-align: right;
   margin-right: 58px;
   margin-top: 24px;
}
button
{
    margin-left: 40px;
    color: white;
}
.button :hover{
    color: white;
}