<div class="item-container">
    <div class="titre">
        <H3>Création d'une catégorie</H3>
    </div>
</div>


    <div class="formulaire-newcategorie">

        <div>
            <h3 class="h3">
                <i class="fa-solid fa-circle-info"></i>&nbsp; Nouvelle Catégorie
            </h3>
        </div>
        <div>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Renseigner le code categorie">
        </div>
        <div>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Déscription">
        </div>

        <div class="button">
            <button type="button" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> &nbsp; Enregistrer</button>
            <button type="button" class="btn btn-warning"><i class="fa-solid fa-xmark fa-xl"></i>&nbsp;&nbsp;Annuler &nbsp;</button>
         </div>
               
    </div>

 
   



