<div class="detailart">
    <div class="my-container">
    <div class="image">
        <img src="assets/userimg.png" alt="">
    </div>

    <div class="info-articles">
            <div class="inf">
                <i class="fa-solid fa-circle-info"></i>
                    Nom
            </div> 
            <div class="inf">
                <i class="fa-solid fa-circle-info"></i>
                    Prénom
            </div>    
            <div class="inf">
                <i class="fa-solid fa-phone-alt"></i>
                    Téléphone
            </div> 
    </div>
 <!----------------------------------------------------------------------------------------------------------------------------------->
 <div class="info-articles">
    <div class="inf">
        <i class="fa-solid fa-qrcode"></i>
           CMD-6587458
    </div> 
    <div class="inf">
        <i class="fa-solid fa-calendar-check"></i>
            Le 13/05/1487
    </div>    
    <div class="inf">
        <i class="fa-solid fa-battery-three-quarters"></i>
            Statut
    </div> 
</div>
 <!----------------------------------------------------------------------------------------------------------------------------------->
    <div class="button">
        <div >

        </div>
            <div>
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="fa-solid fa-arrow-down-up-across-line"></i>&nbsp; Modifier</button>
            </div>
        <div>

        </div>
        
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Correction de stock</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Recipient:</label>
                  <input type="text" class="form-control" placeholder="Quantitée">
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Message:</label>
                  <select class="form-control">
                    <option>Correction positive +</option>
                    <option>Correction négative -</option>
                  </select>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa-solid fa-xmark fa-xl"></i>&nbsp;&nbsp;Annuler &nbsp;</button>
              <button type="button" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> &nbsp; Enregistrer</button>
            </div>
          </div>
        </div>
      </div>

</div>


