

<div class="detailart">
    <div class="my-container">
    <div class="image">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfWTAYAYpI8qpd4520pBhBih8AXRfki-Iw-A&usqp=CAU" alt="">
    </div>

    <div class="info-articles">
            <div >
                <i class="fa-solid fa-circle-info"></i>
                    code article
            </div> 
            <div>
                <i class="fa-solid fa-circle-info"></i>
                    designation
            </div>    
            <div>
                <i class="fa-solid fa-euro-sign"></i>
                    prix HT
            </div> 
            <div>
                <i class="fa-solid fa-euro-sign"></i>
                    prix TTC
            </div> 
    </div>
 <!----------------------------------------------------------------------------------------------------------------------------------->
    <div class="flag">
        <i class="fa-solid fa-flag-checkered fa-2xl"></i>
    </div>

        <div class="info-articles description">
            <div >
                    Stock disponible
            </div> 
            <div>
                    987
        </div>
    </div>
 <!----------------------------------------------------------------------------------------------------------------------------------->
    <div class="button">
        <div >

        </div>
            <div>
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="fa-solid fa-trash-can"></i>&nbsp; Supprimer</button>
            </div>
        <div>

        </div>
        
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Correction de stock</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Recipient:</label>
                  <input type="text" class="form-control" placeholder="Quantitée">
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Message:</label>
                  <select class="form-control">
                    <option>Correction positive</option>
                    <option>Correction négative</option>
                  </select>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa-solid fa-xmark fa-xl"></i>&nbsp;&nbsp;Annuler &nbsp;</button>
              <button type="button" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> &nbsp; Enregistrer</button>
            </div>
          </div>
        </div>
      </div>

</div>

