<div class="detailart">
    <div class="my-container">
    <div class="image">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfWTAYAYpI8qpd4520pBhBih8AXRfki-Iw-A&usqp=CAU" alt="">
    </div>

    <div class="info-articles">
            <div >
                <i class="fa-solid fa-circle-info"></i>
                    code article
            </div> 
            <div>
                <i class="fa-solid fa-circle-info"></i>
                    designation
            </div>    
            <div>
                <i class="fa-solid fa-euro-sign"></i>
                    prix HT
            </div> 
            <div>
                <i class="fa-solid fa-euro-sign"></i>
                    prix TTC
            </div> 
    </div>
 <!----------------------------------------------------------------------------------------------------------------------------------->
    <div class="flag">
        <i class="fa-solid fa-flag-checkered fa-2xl"></i>
    </div>

        <div class="info-articles description">
            <div >
                    Stock disponible
            </div> 
            <div>
                    987
        </div>
    </div>
 <!----------------------------------------------------------------------------------------------------------------------------------->
    <div class="button">
        <div >

        </div>
            <div>
                <button type="button" class="btn">
                    <i class="fa-solid fa-trash-can"></i>&nbsp; Supprimer</button>
            </div>
        <div>

        </div>
        
    </div>

</div>