<div class="my-container">
    <div class="image">
        <img class="rounded-circle" src="assets/userimg.png" alt="" width="200px" height="200px">
    </div>
    <div class="formulaire-newarticle">
        <div>
            <h3 class="h3">
                <i class="fa-solid fa-circle-info"></i>&nbsp;Informations {{origin}}
            </h3>
        </div>
        <div class="info">
            <div>
                <div class="mb-3">                   
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nom" autocomplete="name">
                  </div>              
                  <div class="mb-3">                   
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Prénom" autocomplete="name">
                  </div>   
                  <div class="mb-3">                    
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Email" autocomplete="email">
                  </div>   
                  <div class="mb-3">                  
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Téléphone" autocomplete="tel">
                  </div>
            </div>            
           <div>
            <div class="mb-3">              
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Adresse 1" autocomplete="address-level1">
              </div>
              <div class="mb-3">               
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Adresse 2" autocomplete="address-level2">
              </div>
              <div class="mb-3">                
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ville / Code Postal" autocomplete="postal-code">
              </div>
              <div class="mb-3">           
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Pays" autocomplete="country-name">
              </div>          
           </div>                  
        </div>
</div>
 <div class="button">
    <button type="button" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> &nbsp; Enregistrer</button>
    <button type="button" class="btn btn-warning" [routerLink]="['/utilisateurs']"><i class="fa-solid fa-xmark fa-xl" ></i>&nbsp;&nbsp;Annuler &nbsp;</button>
 </div>   
</div>


