
<div class="item-container">
    <div class="titre">
      <h3>Commande Client / Fournisseur</h3>
    </div>
    <div class="button">
      <app-button-action (clickEvent)="nouvelleCommande()"
      ></app-button-action>
    </div>
  </div>

  <div class="list">
  <div class="accordion">
    <div *ngFor="let option of mvtstk; let i = index" [class.opened-accordion]="activeIndex === i">
      <div class="" (click)="toggleAccordion(i)">
        <app-detail-cmd-clt-frs>{{ option.title }}</app-detail-cmd-clt-frs>
      </div>
      <div class="accordion-content" [hidden]="activeIndex !== i">
        <app-detail-cmd *ngFor="let detail of option.details">{{ detail }}</app-detail-cmd>
      </div>
        <div class="resume-cmd"> 
            <div >
                nbr articles
            </div>
            <div >
                Prix Total
            </div>
        </div>
    </div>
    <div>
    </div>
  </div>
  
</div>



