<div class="button-action">
    <div class="container-button">
            <button type="button" class="btn btn-success"  (click)="bouttonNouveauClick()" *ngIf="isNouveauVisible">
                <i class="fa-solid fa-plus"></i>&nbsp; Nouveau</button>

        
            <button type="button" class="btn btn-warning" *ngIf="isExporterVisible">
                <i class="fa-solid fa-upload"></i>&nbsp; Exporter</button>

       
            <button type="button" class="btn btn-primary" *ngIf="isImporterVisible">
                <i class="fa-solid fa-download"></i>&nbsp; Importer</button>      
    </div>
   
</div>

