.button-action
{
    display: grid;
    grid-template-columns: 130px 130px 130px;
    justify-content: right;
    margin-bottom: 8px;
}
button
{
    color: white;
    font-weight: bold;
}

.but :hover{
    color: rgb(238, 238, 238);

}

