<div class="item-container">
    <div class="titre">
        <H3>Mot de passe</H3>
    </div>
</div>

<div class="my-container">

    <div class="left-content">

        <img src="assets/userimg.png" alt="" width="200PX" height="200px">

        <div class="item-left" >
            <h2>ACHCHAQ Najib</h2>
        </div>

        <div class="adr" >
           <div>2 rue de la mairie</div>
           <div>21000</div>
           <div> Dijon</div>
           <div> France</div>
        </div>

      

    </div>

    <div class="right-content">

        
        <div class="mdp-form">

            <div class="titre2">
                <h3>Nouveau mot de passe</h3>
            </div>

            <div class="mdp">
                <div>
                    <input type="password" id="inputPassword5" class="form-control" aria-labelledby="passwordHelpBlock" placeholder="Ancien mot de passe">
                </div>
                <div>
                    <input type="password" id="inputPassword5" class="form-control" aria-labelledby="passwordHelpBlock" placeholder="Nouveau mot de passe">
                </div>
                <div>
                    <input type="password" id="inputPassword5" class="form-control" aria-labelledby="passwordHelpBlock" placeholder="Confirmer nouveau mot de passe">
                </div>
            </div>
            

            

        </div>

        <div class="validation">
            <button type="button" class="btn btn-success"> <i class="fa-solid fa-pencil"></i>&nbsp; Enregistrer</button>
        </div>

    </div>



</div>
