<div class="my-container">
    <div class="cardhead">
      <h2>Inscription</h2>
    </div>
      <div class="cardbody">
        <div >
        <input type="text"  placeholder=" Votre nom" autocomplete="family-name">
      </div>
      <div>
        <input type="text" placeholder=" Code fiscal">
      </div>
      <div >
        <input type="email" placeholder=" Email" autocomplete="email">
      </div>
      <div >
        <input type="text"  placeholder=" Adresse 1" autocomplete="address-level1">
      </div>
      <div >
        <input type="text"  placeholder=" Adresse 2" autocomplete="address-level1">
      </div>
      <div >
        <input type="text"  placeholder=" Ville" autocomplete="">
      </div>
      <div >
        <input type="text"  placeholder=" Code postal" autocomplete="postal-code">
      </div>
      <div >
        <input type="text"  placeholder=" Pays" autocomplete="country-name">
      </div>
      <div >
        <input type="password" placeholder=" Mot de passe" autocomplete="email">
      </div>
      <div >
        <input type="password"  placeholder=" Confirmer mot de passe">
      </div>


        <div class="but">
          <div class="butco">
            <a [routerLink]="['/login']"><button type="button" class="btn btn-primary">Se connecter </button></a>
          </div>
          <a><button class="butlink" type="button">S'inscrire </button></a>
        </div>
    </div>
    </div>
    
