<div class="my-container">
  <div class="card-head">
    <h2>Se connecter</h2>
  </div>
  <div class="alert alert-danger" *ngIf="errorMessage">
    {{errorMessage}}
  </div>
  <div>
    <div>
      <input type="email" placeholder=" Email" autocomplete="email" [ngModel] = "authenticationRequest.login"  >
    </div>
    <div>
      <input type="password" placeholder=" Mot de passe" [ngModel] = "authenticationRequest.password">
    </div>
    <div class="but">
      <a [routerLink]="['/register']">
        <button class="butlink" type="button" class="btn btn-primary">S'inscrire</button>
      </a>
      <div class="butco">
        <button type="button" class="btn btn-primary" (click)="login()"><i class="fa-solid fa-check fa-xl"></i> &nbsp;Se connecter</button>
      </div>
    </div>
  </div>
</div>