<div class="my-container">
  <div class="card-head">
    <h2>Se connecter</h2>
  </div>
  <div>
    <div>
      <input type="email" placeholder=" Email" autocomplete="email" >
    </div>
    <div>
      <input type="password" placeholder=" Mot de passe" >
    </div>
    <div class="but">
      <a [routerLink]="['/register']">
        <button class="butlink" type="button" class="btn btn-primary">S'inscrire</button>
      </a>
      <div class="butco">
        <button type="button" class="btn btn-primary">Se connecter</button>
      </div>
    </div>
  </div>
</div>