
   

    <div class="item-container">
        <div class="titre">
            <H3>Liste des articles</H3>
        </div>
        <div class="button">
            <app-button-action></app-button-action>
        </div>
    </div>

    <div >
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
    </div>

    
    <div class="pag">
        <app-pagination></app-pagination>
    </div>



