header{
    text-align: center;
}

body{

    background:url(assets/star.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    justify-content: center;
    text-align: center;
    align-items: center;


}
.logo{
    width: 120px;
    height: 120px;
    justify-content: left;
    align-items: center;
    margin-top: 15px;
    
}

.header
{
    display: grid;
    grid-template-columns: 140px 1460px;
    grid-template-rows: 140px;
    width: 1605px;
    color: rgb(196, 196, 196);
    height: 150px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}
.titresite
{
    display:grid;
    grid-template-rows: 100px 40px;
    font-size: 80px;
    font-weight: bolder;
    text-align: center;
}
.soustitre
{
    font-size: 20px;
    margin-top: 10px;

}
