
html{
    padding-right: auto;
    padding-left: auto;
    width: 2112px;


}

body{
    background:url(assets/star.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
    width: 1600px;

    

}
.logo{
    width: 100px;
    height: 100px;
    margin: 12px;
    margin-left: 32px;
    margin-top: 38px;

}

.header
{
    display: grid;
    grid-template-columns: 150px 1fr;
    color: rgb(196, 196, 196);
    margin-left: 200px;
    height: 120px;
}
.titresite
{
    display:grid;
    grid-template-rows: 100px 30px;
    text-align: center;
    font-size: 80px;
    font-weight: bolder;
    text-align: center;
    margin-left: 440px;

}
.soustitre
{
    font-size: 20px;
    margin-top: 10px;

}
