.item-container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1150px;
    margin-top: 8px;
    margin-bottom: 20px;
    height: 40px;


    
}
.titre
{
    
    text-align: left;
    padding-left: 16px;
    margin-top: 12px;

}
.button
{
    text-align: right;
    padding-top: 8px;

}

.detail-art
{

    margin-right: auto;
    margin-left: auto;

    max-height: 680px;
}
.pag
{
    text-align: center;
}

.list
{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 550px;
}